section.sunway-about-us-2(bg-img='./img/about_us/bg_1.jpg')
	.container
		.row
			.col
				.wrapper
					figure
						.boxzoom
							img(src='./img/about_us/icon_1.png', alt='')
						figcaption
							h3 vISiON
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
					figure
						.boxzoom
							img(src='./img/about_us/icon_2.png', alt='')
						figcaption
							h3 MISSION
							p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of lettersreadable English. 
					figure
						.boxzoom
							img(src='./img/about_us/icon_3.png', alt='')
						figcaption
							h3 CORE VALUES
							p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.