section.sunway-contact-1
	.container
		.intro
			h1 Contact
			p Please fill out the form and submit your comments and questions to Sunway Mario.
			p We will respond to your email as soon as possible.
		.row
			.col-lg-4(bg-img='./img/contact/bg_1.jpg')
				.info
					img(src="./img/_global/logo.png", alt="")
					h3 Sunway Mario Plastics Company Limited
					p.address E9/58A An Phu Tay - Hung Long St., Hung Long Ward, Binh Chanh District, HCMC, Vietnam
					p.phone (84.8) 5429-1168
					p.fax (84.8) 5429-1169

			.col-lg-8
				.wrap-form
					#id
						.form-group.qtext
							input( type="text" placeholder="Họ và tên")
						.form-group.qtext
							input( type="text" placeholder="Email")
						.form-group.qtext
							input( type="text" placeholder="Số điện thoại")
						.form-group.qtext
							input( type="text" placeholder="Tiêu đề")
						.form-group.qparagraph 
							textarea(name="Nội dung",placeholder="Nội dung",  rows="8")