section.sunway-home-2
	.container
		.row
			.col-lg-6
				h2 WELCOME TO Sunway mario plastic 
				p Established in 2004, Sunway Mario Plastic is aspire to be one of the leading companies in Vietnam, manufacturing, distribution and export of quality, innovative plastic packaging bags for overseas corporations mostly in EU, Australia, USA, UK, Denmark, German from a wide spectrums of industries.

				p Our factory currently has a floor area over 7000 square meter with a well combination of comprehensive facilities, advanced production technologies & more than 350 skillful workmanship. Company's output is in excess of 1000 tons per month. All production is closely monitored to maintain the highest quality standards; every order is inspected to ensure customer satisfaction.
				.row.achieve
					.col-lg-6
						h4 14 years experience
							span In Exportation Field
						h4 Over 15,000 sqm
							span In Factories And Office Area
						h4 Over 10
							span Global Suppliers
						h4 95% clients
							span Returned After The Trial Order
					.col-lg-6
						h4 2,000 tons per month
							span In Capacity And Ceaseless Development
						h4 100%
							span European Market (GER, FRA, UK, NED, POL…)
						h4 Over 20
							span Exporting Countries







