.social-networks.nav
	.item
		.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
			a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
	.item
		a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
	.item
		.g-plusone(data-size="tall")
