section.sunway-home-3(bg-img='./img/home/bg_3.jpg')
	.container
		.row
			.col
				h2 Products
				p Range of plastic products: Star seal on roll, interleaved Drawtape on roll, T shirt block, T shirt on roll, C fold on roll
		.row
			.col-auto.mx-auto
				a(href="#").btn.btn-more view more

