section.sunway-home-5(bg-img='./img/home/bg_1.jpg')
	.container
		h2 Social responsibility
		.row
			.col-lg-6.main
				a(href="#")
					figure
						.boxzoom
							img(src='./img/home/news_1.jpg', alt='')
						figcaption
							time 30/10/2018
							h3 Together with the community to protect the environment, keep the blue of the sea
							p On June 1, at Ben Do (Cam Pha Town), the Ministry of Natural Resources and Environment (MONRE), the People's Committee of Quang Ninh Province and the ne 1, at Ben Do (Cam Pha Town), the Ministry of Natural Resources and Environment (MONRE), the People's Committee of Quang
			.col-lg-6.sub
				- for ( var x = 0; x < 3; x++)
					a(href="#")
						figure
							.boxzoom
								img(src='./img/home/news_2.jpg', alt='')
							figcaption
								time 30/10/2018
								h3 1200+ gifts were delivered to the Thua Thien Hue people by Sunway Mario200+ gifts were delivered to the Thua Thien Hue peop200+ gifts were delivered to the Thua Thien Hue peop
