section.sunway-about-us-4
	.container
		h2  Factory & Laboratory
		p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
		.row
			.swiper-button-prev
				span.mdi.mdi-chevron-left
			.swiper-button-next
				span.mdi.mdi-chevron-right
			.col-10.col-md-8.mx-auto
				.swiper-container
					.swiper-wrapper
						- for ( var x = 1; x < 7; x++)
							.swiper-slide
								img(src='./img/about_us/slider_1.jpg', alt='')