extends _layout.pug

block var
	- title = 'Home'
	- bodyClass = 'career-detail-page'

block main
	include ../_components/banner/b-1/index
	include ../_components/breadcrumb/b-1/index

	include ../_components/career-detail/cd-1/index

