extends _layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index-page'

block main

	include ../_components/home/h-1/index
	include ../_components/home/h-2/index
	include ../_components/home/h-3/index
	include ../_components/home/h-4/index
	include ../_components/home/h-5/index
	include ../_components/home/h-6/index