header.header
	.container.menu-bar
		.logo
			a(href="#")
				img(src="./img/_global/logo.png", alt="")
		a.toggle-menu(href="javascript:void(0)")
			span.mdi.mdi-menu
		.nav_wrapper
			.top_nav
				.searchbox
					input.searchinput(type='text' placeholder='Search')
					button.searchbutton(type='submit')
						i.fas.fa-search
				.language
					.wrapper
						a(href="javascript:void(0)") VN
							span.fas.fa-caret-down
						.drop-down
							a(href="javascript:void(0)") VN
							a(href="javascript:void(0)") EN

			.bottom_nav
				ul.nav
					li.nav-item
						a(href="#").nav-link.active Home
					li.nav-item
						a(href="#").nav-link About us
					li.nav-item
						a(href="#").nav-link Product
					li.nav-item
						a(href="#").nav-link News
					li.nav-item
						a(href="#").nav-link Career
					li.nav-item
						a(href="#").nav-link Contact
	.bg-overlay