header
	// overflow: hidden
	position: fixed
	top: 0
	width: 100%
	z-index: 9
	background: color-get($mau, trang)
	box-shadow: 0 5px 13px 0 rgba(0,0,0,.08)
	.toggle-menu
		display: none
	.menu-bar
		display: flex
		.logo
			+f-center
			a

				img
					height: r(70px)
					transition: .4s all ease-in-out
			&.active
				a
					display: flex
					height: 100%
					padding: 7px
					width: 100%
					img
						height: r(28px)

		.nav_wrapper
			width: 100%
			.top_nav
				padding: r(12px) 0
				display: flex
				.searchbox
					margin-left: auto
					color: #c1c1c1
					font-size: r(14px)
					border-bottom: 1px solid #c1c1c1
					input
						border: 0
						&:hover, &:active, &:focus
							outline: none
					::-webkit-input-placeholder
						color: #c1c1c1
					button
						border: 0
						cursor: pointer
						&:hover, &:active, &:focus
							outline: none
						i
							font-size: r(15px)
							color: color-get($mau,main)


				.language
					padding-left: 1rem
					margin-left: 1rem
					z-index: 1
					// border-left: 1px solid color-get($mau,main)
					position: relative
					&:after
						position: absolute
						top: 50%
						transform: translateY(-50%)
						display: block
						width: 1px
						height: 60%
						left: -1px
						content: ''
						background: color-get($mau, main)
					.wrapper
						position: relative
						a
							font-size: r(15px)
							color: color-get($mau,main)
							span
								margin-left: 5px
							&:hover
								text-decoration: none
						.drop-down
							display: none
							position: absolute
							top: 100%
							border-radius: 5px
							left: 50%
							transform: translateX(-50%)
							background: color-get($mau, trang)
							border: 1px solid color-get($mau,main)
							a
								display: block
								padding: .25rem 1rem
								position: relative
								&:hover
									@media screen and (min-width: 992px)
										text-decoration: underline !important
								&:first-child
									&:after
										position: absolute
										bottom: 0
										display: block
										width: 70%
										background: color-get($mau, main)
										height: 1px
										left: 50%
										transform: translateX(-50%)
										content: ''
			.bottom_nav
				ul
					position: relative
					&:after
						position: absolute
						top: 0
						display: block
						width: 100%
						height: 100%
						left: 100%
						background: color-get($mau, main)
						content: ''
					li
						font-size: r(15px)
						// font-weight: 500
						padding: r(10px) r(50px)
						background: color-get($mau, main)
						position: relative
						&:first-child
							margin-left: auto
							padding-left: r(90px)
							&:before
								position: absolute
								bottom: 0
								display: block
								width: 1000%
								height: 3px
								right: 100%
								background: color-get($mau, main)
								content: ''
							&:after
								position: absolute
								top: 0
								left: -33px
								display: block
								content: url('../img/_global/header_layout.png')
						&:last-child
							padding-right: 0
						a
							padding: 0
							position: relative
							text-transform: uppercase
							transition: .3s all ease-in-out
							color: color-get($mau,trang)
							&:hover, &.active
								@media screen and (min-width: 992px)
									color: color-get($mau,light)
									&:after
										opacity: 1
										bottom: r(-19px)
							&:after
								transition: .3s all ease-in-out
								opacity: 0
								color: color-get($mau,light)
								position: absolute
								bottom: r(-29px)
								display: block
								left: 50%
								transform: translateX(-50%)
								+faws('\f0de', $faf, 900)
	@media screen and (max-width: 1368px)
		.menu-bar
			.nav_wrapper
				.bottom_nav
					ul
						li
							padding: r(10px) r(50px)
							&:first-child
								padding-left: r(50px)
	@media screen and (max-width: 1199px)
		.menu-bar
			.nav_wrapper
				.bottom_nav
					ul
						li
							padding: r(10px) r(30px)
							&:first-child
								padding-left: r(30px)
	@media screen and (max-width: 991px)
		.toggle-menu
			color: color-get($mau,main)
			display: block
			margin-left: auto
			span
				font-size: r(28px)
		.bg-overlay
			transition: .5s all ease-in-out
			position: fixed
			top: r(42px)
			left: -100%
			background: rgba(0,0,0,0.8)
			height: 100%
			width: calc(100% - 320px)
			&.active
				left: 0
		.menu-bar
			.logo
				max-height: r(42px)
				a
					display: flex
					height: 100%
					padding: 7px
					width: 100%
					img
						height: r(28px)

			.nav_wrapper
				z-index: 9
				position: fixed
				transition: .5s all ease-in-out
				right: -100%
				top: r(42px)
				max-width: r(320px)
				background: color-get($mau, main)
				height: 100%
				&.active
					right: 0
				.top_nav
					padding: r(20px) r(20px) 
					padding-bottom: r(10px)
					.searchbox
						input
							background: transparent
							color: color-get($mau,trang)
						::-webkit-input-placeholder
							color: color-get($mau,trang)

						button
							background: transparent
							i
								color: color-get($mau,trang)
					.language
						.wrapper
							a
								color: color-get($mau,trang)
							.drop-down
								a
									color: color-get($mau,main)

				.bottom_nav
					ul
						flex-direction: column
						&:after
							display: none
						li
							padding: 1rem r(20px)
							&:first-child
								margin-left: initial
								padding-left: r(20px)
								&:before, &:after
									display: none
							&:last-child
								padding-right: r(20px)
							a
								text-align: right
								&.active
									color: color-get($mau,trang)
									&:after
										content: ''
										background: color-get($mau, trang)
										bottom: -3px !important
										width: 100%
										height: 1px
										opacity: 1
	@media screen and (max-width: 576px)
		.menu-bar
			.nav_wrapper
				.top_nav
					.searchbox
						width: 68%
						input
							width: calc(100% - 21px)
	@media screen and (max-width: 400px)
		.bg-overlay
			display: none
		.menu-bar
			.nav_wrapper
				max-width: 100%
