section.sunway-news-detail-1
	.container
		.row
			.col-lg-10.mx-auto
				h1 Sustainable shopping: how to stop your bathers flooding the oceans with plastic
				time 30/10/2018
				.briefcontent
					span Shopping can be confusing at the best of times, and trying to find environmentally friendly options makes it even more difficult. Our Sustainable Shopping series asks experts to provide easy eco-friendly guides to purchases big and small. Send us your suggestions for future articles here.
				.fullcontent
					p If there is one item of clothing that bridges the gap between land and ocean, it’s swimwear. Most of our clothes release tiny plastic fibres into the water every time they are washed. But while some washing machines and waste-water treatments can filter out a large percentage of the plastic, what happens when we wear our bathers, a microfibre bomb, to the beach?

					p These plastics go directly into the water and are consumed by marine life, which finally ends up on our dinner plate! To help keep our bathers on the outside, rather than in our stomachs, it’s important to know how to take care of them, recycle them, and shop for sustainable swimwear.
					strong From laundry basket to beach

					p One of the biggest contributors to microplastic pollution is clothes washing. The tumbling and abrading forces in the machine result in the fragmentation of garment fibres.

					p This adds up to an estimated annual weight of up to half a million tonnes of fibres being released during clothes washing – a truly worrying figure. Although treatment works remove up to 98% of these fibres, tens of millions get through just one plant in a day.
					img(src="./img/home/news_1.jpg", alt="")
					p This adds up to an estimated annual weight of up to half a million tonnes of fibres being released during clothes washing – a truly worrying figure. Although treatment works remove up to 98% of these fibres, tens of millions get through just one plant in a day.
					p This adds up to an estimated annual weight of up to half a million tonnes of fibres being released during clothes washing – a truly worrying figure. Although treatment works remove up to 98% of these fibres, tens of millions get through just one plant in a day.
					p This adds up to an estimated annual weight of up to half a million tonnes of fibres being released during clothes washing – a truly worrying figure. Although treatment works remove up to 98% of these fibres, tens of millions get through just one plant in a day.
				include ../../social/s-1/index
			
		.row
			.col
				h2.title tin tuc khac
				.wrapper-news
					- for ( var x=1 ; x < 7; x++)
						a(href="/news-detail.html")
							figure
								.boxzoom
									img(src='./img/home/news_1.jpg', alt='')
								figcaption
									time 23/23/2003
									h3 Pristine Antarctic fjords contain similar levels of microplastics to open oceans

			



