section.sunway-creer-2(bg-img='./img/career/bg_1.jpg')
	.container
		.row
			.col-12
				h2 Want to join the Sunway mario team?
				p Give yourself a chance and engage with a professional team by job opportunities below
			.col-auto.mx-auto
				a(href="#").btn.btn-more apply now