section.sunway-career-detail-1
	.container
		.row
			.col-lg-8
				h1 Marketing Manager
				h3 adf asdf asd fasd
				ul
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				h3 adf asdf asd fasd
				ul
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				span afs asdf asdf asdf

				h3 adf asdf asd fasd
				ul
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				a(href="#").btn.btn-more apply now
			.col-lg-4
				h2 Other career
				.table-responsive
					table
						tbody
							- for ( var x = 0; x < 5; x++)
								tr
									td
										span.mdi.mdi-account
										a(href="#")
											Goods coordinator
										
									td
										span.mdi.mdi-account-multiple| 05
									td
										span.mdi.mdi-calendar-text
										| 30/20/2010

