<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Footer link product " value="2" resourcefile="" />
      <add name="Footer quick link  " value="4" resourcefile="" />
      <add name="Product link  " value="8" resourcefile="" />
    </position>

</settings>