footer.footer(bg-img='./img/_global/bg_footer.jpg')
	.container
		.row
			.col-lg-4
				h3 Sunway Mario Plastics Company Limited
				p.address E9/58A An Phu Tay - Hung Long St., Hung Long Ward, Binh Chanh District, HCMC, Vietnam
				p.phone (84.8) 5429-1168
				p.fax (84.8) 5429-1169
				p.mail sale@sunwaymario.com 
					span tuineen@gmail.com
				p.mail sale@sunwaymario.com 
					span tuineen@gmail.com

			.col-lg-2.col-sm-6
				h3 Products
				ul
					li 
						a(href="#") C-fold
					li 
						a(href="#") Drawstring
					li 
						a(href="#") Sandwich
					li 
						a(href="#") Star-real
					li 
						a(href="#") Zipper

			.col-lg-3.offset-1.col-sm-6
				h3 Quick links
				ul
					li 
						a(href="#") About us
					li 
						a(href="#") News
					li 
						a(href="#") Customer Support
					li 
						a(href="#") Career
					li 
						a(href="#") Contact
					
			.col-lg-3.offset-2
				h3 Newsletter
				.form-group
					input(type="text", placeholder='Enter your email...')
					a(href="#").subscribebutton
						span.mdi.mdi-email
				.wrapper
					.qr-code
						img(src="./img/_global/qr-code.png", alt="")
					.social-wrapper
						a(href="#") facebook
							em.fab.fa-facebook
						a(href="#") messenger
							em.fab.fa-facebook-messenger
						a(href="#") twitter
							em.fab.fa-twitter
						a(href="#") youtube
							em.fab.fa-youtube
	section
		h3.copy © 2018 Sunway Mario Plastics Company Limited. All right reserves. Designed by Cánh Cam.

