section.sunway-home-1
	article
		.row
			.col
				.rev_slider_wrapper
					.rev-slider#revSlider1
						ul
							li(data-transition="parallaxtoright")
								img(src="./img/_global/banner_1.jpg", alt="")
							li(data-transition="parallaxtoright")
								img(src="https://images.unsplash.com/photo-1547084266-7501a964bf9b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=520&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="")
							li(data-transition="parallaxtoright")
								img(src="https://images.unsplash.com/photo-1547070078-442aa97f595a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=520&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="")