section.sunway-home-1
	article
		.rev_slider_wrapper
			.rev-slider#revSlider1
				ul
					li(data-transition="parallaxtoright")
						img(src="./img/_global/banner_1.jpg", alt="")
					li(data-transition="parallaxtoright")
						img(src="./img/_global/banner_2.jpg", alt="")
		.container
			.row
				.col
					.wrapper
						.block-img
							img(src="./img/_global/icon_1.png", alt="")
							img(src="./img/_global/icon_2.png", alt="")
						.block-title
							h2 Sunway Mario Plastic
							h3 Become a leading supplier of plastic bags