section.sunway-product-2
	.container
		h2 Product
		.row
			.col
				.wrapper
					figure
						.boxzoom
							img(src='./img/product/item_2.jpg', alt='')
						figcaption
							h3 Sandwich bag
							p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.dard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.dard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
							a(href="#").btn.btn-more view more
							
					figure
						.boxzoom
							img(src='./img/product/item_2.jpg', alt='')
						figcaption
							h3 Sandwich bag
							p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
							a(href="#").btn.btn-more view more
