section.sunway-product-1
	.container
		h2 Product
		.row
			.col
				.wrapper
					a(href="product-detail.html")
						.bg-img
							img(src="./img/product/item_1.jpg", alt="")

					a(href="product-detail.html")
						.bg-img
							img(src="./img/product/item_3.jpg", alt="")

					a(href="product-detail.html")
						.bg-img
							img(src="./img/product/item_1.jpg", alt="")

					a(href="product-detail.html")
						.bg-img
							img(src="./img/product/item_1.jpg", alt="")

